<h1 id="heading">
  <lord-icon
    src="https://cdn.lordicon.com/ibanawal.json"
    trigger="hover"
    style="width: 60px; height: 60px"
  >
  </lord-icon>
  Jobs
</h1>

<div class="card-space">
  <% jobs.forEach(job=>{ %>
  <div class="card">
    <h2><%= job.name %></h2>
    <p><%= job.role %></p>
    <p><%= job.location %></p>
    <p><%= job.ctc %></p>
    <% if(job.skills) {%>
    <p class="skills">
        <%= job.skills.join(' ') %><%= job.skills.length > 40 ? '...' : '' %>
    </p>
    <% } %>
    <a href="/view-details/<%= job.id %>">View Details</a>
  </div>
  <% }) %>
</div>
